#prdtClear{
   margin-right:-860px;
    margin-left:15px;
}
.btn-danger{
  min-width: 6.0rem !important;
  background: rgba(235, 109, 74, 0.85) !important;
  border-color: rgba(235, 109, 74, 0.98) !important;
}
.btn{
min-width: 6.0rem !important;
}
.fa-th{
    color:rgba(128, 128, 128, 0.48)
  }
  .fa-search{
    color:white;
  }
  .fa-times{
    color:gray;
  }
  .productlineclr{
    color: #252525;
  }