<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4>Project Categories</h4>
      </div>
      <div class="card-block" id="pcatListTable">
        <dx-tree-list
        id="pcats"
        [dataSource]="pcats"
        itemsExpr="SubCategories"
        keyExpr="ProjectCatID"
        parentIdExpr="ProjectCatID"
        [showRowLines]="true"
        
        (onEditorPreparing)="editorPreparing($event)"
        (onInitNewRow)="initNewRow($event)"
        (onCellPrepared)="cellPrepared($event)">
        <dxo-editing
            mode="row"
            [allowUpdating]="true"
            [allowDeleting]="true"
            [allowAdding]="true">
        </dxo-editing>
  
        <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
        <dxi-column dataField="Name" caption="Category Name"></dxi-column>
        <dxi-column dataField="Active"></dxi-column>
        <dxi-column dataField="CreatedBy"></dxi-column>
        <dxi-column dataField="CreatedDate" dataType='date'></dxi-column>
        <dxi-column dataField="LastModifiedBy"></dxi-column>
        <dxi-column dataField="LastModifiedDate" dataType="date"></dxi-column>
        </dx-tree-list>
      </div>
    </div>
  </div>
</div>